doctype html
link(rel='stylesheet' href='./css/login.css')
link(href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css')
.login
  .login-header
    h1 Login
  .login-form
    h3 Username:
    input(type='text' placeholder='Username')
    br
    h3 Password:
    input(type='password' placeholder='Password')
    br
    input.login-button(type='button' value='Login')
    br
    a(class='sign-up' href='/register')  Sign Up!

script(src='./js/login.js')